$orange: #D78123;
$blue:   #1E1641;
$green:  #02d330;
$red:    #FF4136;
$grey:   #999;
$white:  #FFF;

$off-white: #EBFDF3;

$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

$silver:   #ddd;
$darkgrey: #444;
$black:    #111;

$magenta:      #6F0564;
$yellow-green: #F6FA9C;
$sushi:        #8CA93E;
$burgandy:     #8C001A;

