p {
  color: $grey;
  font-family: $helvetica;

}

body {
  background-color: $white;
  color: $darkgrey;
  font-family: helvetica,arial-new,verdana;
  font-size: 1.2rem;
  line-height: 150%;
}

.container_12 { border-top: 5px solid $fuchsia; }

a         { color: $maroon; text-decoration:none;}
a:hover   { color: $darkgrey; }

section {
  @include outer-container;
  text-align: center;
}

.content {
  max-width: 52em;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.test_descriptions { font-size: golden-ratio(10px,  1); }

#first  { @include span-columns(4); padding-left: 1.2em; }
#second { @include span-columns(4); @include omega(); padding-left: 1.2em; }
#third  { @include span-columns(4); @include omega(); padding-left: 1.2em; }
#fourth { @include span-columns(12); padding-left: 1.2em; padding-top: 1.2em; }

.index_data {
  margin-top: 12px;
  color: $grey;
  padding: 1em;
  font-size: golden-ratio(20px,  1);
  @include span-columns(6);
  @include omega();
}

.history {
  margin-top: 20px;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid $grey;
  color: $grey;
  background-color: $off-white;
  border-radius: 3px;
}

.flash_notice {
  @include flash($notice-color);
  padding: 0;

}

.flash_error {
  @include flash($error-color);
  padding: 0;
}

.flash_success {
  @include flash($success-color);
    padding: 0;
}