<h3>Unit</h3>
<p>Unit testing can mean lots of different things. And here it is pretty vague still as well. As a starting point, it is just a <code>MiniTest::Test</code> test case. The Application is not spooled up by default. If you want to include modules or classes to test, go for it. It would be nice to keep the testing to real, issolated 'units' if possible.</p>