<section class='content'>
  <h1>API</h1>

  <p>This is the API endpoint for '/api/<strong>{key}</strong>/<strong>{value}</strong>'</p>

  <p>result: <strong>{"key" : "<%= @key %>", "value" : "<%= @value %>"}</strong></p>
</section>
