<html>
<head>
  <title>Blank Sinatra App</title>
  <link href='/normalize.css' rel='stylesheet' type='text/css' />
  <!-- <link href='/960.css' rel='stylesheet' type='text/css' /> -->
  <link rel="stylesheet" media="all" href="/styles.css" />
</head>
<body>
<section>

  <section class='content'>
    <h2 id='js-application_name'><a href="/">Blank Template Sinatra Application</a></h2>
  </section>

  <section class='content'>
    <div class="flash_notice">
      <%= flash[:notice] %>
    </div>
  </section>

  <section class='content'>
   <div class='%flash-success'>
     <span>
       this is a success message <a href="#">with a link</a> <%= flash[:error] %>
     </span>
   </div>
  </section>
</section>

<%= yield %>

</body>
</html>
