<html>
<head>
  <title>TRON</title>
  <link href='/reset.css' rel='stylesheet' type='text/css' /> 
  <link href='/text.css' rel='stylesheet' type='text/css' /> 
  <link href='/960.css' rel='stylesheet' type='text/css' /> 
  <link href='/tron.css' rel='stylesheet' type='text/css' /> 
</head>
<body>
<div class="container_12">
  <div class="grid_10 prefix_1">
    <div class="grid_4">
      <h2><a href="/">TRON</a></h2>
    </div>
  </div>
  <div class="clear"></div>
  <div class="grid_10 prefix_1 flash_notice">
    <%= flash[:notice] %>
  </div>
  <div class="clear"></div>
  <div class="grid_10 prefix_1 flash_error">
    <%= flash[:error] %>
  </div>
  <div class="clear"></div>
  <%= yield %>
  <div class="clear"></div>
</div>
</body>
</html>
