body {
  background-color: #ffffff;
  font-family: helvetica,arial-new,verdana;
  font-size: 1.2rem;
}

.container_12 { border-top: 5px solid purple; }

a:link    { text-decoration:underline; color: #ff9900;}
a:visited { text-decoration:underline; color: #ff9900;}
a:hover   { background-color: #ff9933; color: #fff; text-decoration: none; }
a:active  { text-decoration:none; color: #66FF99; }
